.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 2;
  color: #fff;
  transition: all 0.3s;
}

::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
}

::-webkit-scrollbar {
  -webkit-border-radius: 100px;
  background-color: rgba(0, 0, 0, 0);
  width: 9px;
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 100px;
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  border: 1px solid rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}
